{% extends "blog/base.html" %}
{% block content %}

<td valign="top" class="content">
    <div class="container h-200">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<h3 id="form-title">ВХОД</h3>
				</div>
				<div class="forms-errors">{{form.errors}}</div>

				<div class="d-flex justify-content-center form_container">
					<form method="POST" action="">
						{% csrf_token %}
							<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>

							<input type="text" name="username" placeholder="Username..." class="form-control">
						</div>

						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>

								<input type="password" name="password" placeholder="Password..." class="form-control" >
						</div>

							<div class="d-flex justify-content-center mt-3 login_container">
				 				<input class="btn login_btn" type="submit" value="Login">
				   			</div>
					</form>

				</div>



				<div class="mt-4">
					<div class="d-flex justify-content-center links">
						Еще нету аккаунта? - <a href="{% url 'registration' %}" class="ml-2">Зарегистрироваться</a>
</div>
					<div class="d-flex justify-content-center links">
						<p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>
</div>


				</div>
			</div>
		</div>
	</div>
<script>
var ssn = document.getElementById("user-password");
var current = document.getElementById("current");

ssn.oninput = function(event) {
  current.innerHTML = ssn.value;
}
</script>
{%endblock%}