
    html, body {
        font-family: 'Arial';
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        color: #444;
    }

    .user_name1{
        margin-right:500px;
    }
    a {
        color: #0059b2;
        text-decoration: none;
    }
    a:hover {
        color: black;
        text-decoration: underline;
    }

    .table-page {
        width: 100%;
        height: 100%;
        vertical-align: top;
    }
    .table-page tr {height: 100%;}

    .clear {clear: both;}

    .header {
        background: #297198;
        height: 60px;
    }

    .logo {
        background: url('../images/logo.png') no-repeat 10px 5px;
        width: 70px;
        height: 60px;
    }

    ul.mainmenu {
        list-style: none;
        margin: 0;
        padding: 0;
        height: 60px;
        color: #fdc073;
        font-size: 20px;
        overflow: hidden;
    }
    ul.mainmenu li {
        float: left;
        margin: 18px 40px 0 30px;
    }
    ul.mainmenu li.logo {margin: 0;}
    ul.mainmenu li.last {float: left;}

    ul.mainmenu li a {
        color: #C7D3D9;
        text-decoration: none;
    }
    ul.mainmenu li a:hover {
        color: #FDA83D;
    }

    .table-content {
        width: 100%;
        min-height: 100%;
        height: 100%;
    }

    .left-chapters {
        margin: 0;
        background: #eee;
        border-right: 1px solid #ccc;
        min-height: 100%;
    }
    .left-chapters ul {
        width: 230px;
        min-height: 100%;
        margin: 0;
        padding: 20px 10px 10px 20px;
        list-style: none;
        font-size: 20px;
    }
    .left-chapters ul li {
        margin: 30px 0 0 0;
        color: #999;
    }
    .left-chapters ul li.selected {color: #0059b2; }
    .left-chapters ul li a {
        color: #444;
        text-decoration: none;
    }
    .left-chapters ul li a:hover { color: black; }
    .left-chapters ul li.share {margin: 60px 0 0 0;}
    .left-chapters ul li.share p {margin: 30px 0 30px 0;}
    .left-chapters ul li.share a {
        display: inline-block;
        width: 40px;
        height: 40px;
        margin: 0 20px 0 0;
    }


    .selected{
        color:red
    }
    .content {
        padding: 40px 20px 20px 40px;
        width: 100%;
        box-sizing: border-box;
    }

    .content-text {
        margin: 60px 0 0 30px;
        color: #000;
        font-size: 20px;
        font-family: Yandex Sans Display Light;
    }

    #footer {

        box-sizing: border-box;
        background: #0D2E5F;
        padding: 5px;
        color: #aaa;
        font-size: 14px;
        font-family: Verdana, Geneva, Arial, Helvetica;
        text-align: left;
        overflow: hidden;

    }

    .git_link{
        color:white;
    }

    .last{
        float:right
    }
    .topnav{
        margin-top:-20px;
        margin-right:500px;
        display: flex;
        justify-content: center;
        align-items: center
    }

    .srch{
        width:200%;
        height:30px;

    }
    .srch2{
        width:50%;
        height:30px;
        margin-left:40%;

    }
    .btn-search{

        margin-left:10px;
    }

    .q_name{
        padding-left:10px;
    }
    .q_category{
        padding-left:10px;
    }
    .main_cards{
        border-radius: 25px;
        background:#D8DCE1;
        margin-top:10px;
        width:70%;
        display: flex;
        justify-content: center;
        align-items: center
        float:left !important;

        flex-direction: column;

    }



    .list-pages {
        text-align: center ;
        margin: 0 0 20px 0 ;
    }
    .list-pages ul {
        margin: 20px 0 0 0;
        padding: 0;
        list-style: none;
    }
    .list-pages ul li {
        display: inline-block;
        margin: 0 20px 0 0;
    }
    .list-pages a {
        color: #000;
        font-size: 24px;
        text-decoration: none;
    }

    .list-pages .page-num:hover {
        box-shadow: 3px 3px 1px #d0d0d0;
    }


    .list-pages .page-num:hover {
        box-shadow: 3px 3px 1px #d0d0d0;
    }
    .list-pages .page-num, .page-num-selected {
        display: inline-block;
        width: 60px;
        height: 44px;
        padding: 16px 0 0 0;
        border: 1px solid #d0d0d0;
        border-radius: 30px;
    }

    .square{
        margin-left:8%;
    }

    .category{
        font-size:15px;
        color:#0DA34F;
    }
    .q_name{
        font-family: 'Oswald', sans-serif;
    }
    .q_text{
        font-size:25px;
        margin-right:10%;
        background:#DDEAE3;
    }

    .btn-primary{

        float:right;
        margin-right:10%;
        width: 15%;
        height: 18%;
    }
    .text_answer{
        color:black;
    }

    .answer_form{

        justify-content: center !important;
        align-items: center !important;
        display:flex !important;

    }

    #answer{
        border:1px solid grey;
        margin-top:10px;
    }

    /* profile block */

    .main_body{
        justify-content: center !important;
        align-items: center !important;
        display:flex !important;
    }
    .n_body{
        background-color:#EAEAEA;
        width:40%;
        height:80%;
        justify-content: center !important;
        align-items: center !important;
        display:flex !important;

    }

    .inforamation{
        display: flex;
       justify-content: space-between;
        color:#1719A9;
        font-weight:bold;

    }


    .card_body {
        margin: 0;
        padding-top: 40px;
        color: #2e323c;
        background: #f5f6fa;
        position: relative;
        height: 100%;
        width:50%;
    }
    .account-settings .user-profile {
        margin: 0 0 1rem 0;
        padding-bottom: 1rem;
        text-align: center;
    }
    .account-settings .user-profile .user-avatar {
        margin: 0 0 1rem 0;
        padding-top:15px;
    }
    .account-settings .user-profile .user-avatar img {
        width: 90px;
        height: 90px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
    }
    .account-settings .user-profile h5.user-name {
        margin: 0 0 0.5rem 0;
    }
    .account-settings .user-profile h6.user-email {
        margin: 0;
        font-size: 0.8rem;
        font-weight: 400;
        color: #9fa8b9;
    }


    .account-settings .about {
        margin: 2rem 0 0 0;
        text-align: center;


    }
    .account-settings .about h5 {
        margin: 0 0 15px 0;
        color: #007ae1;

    }
    .account-settings .about p {
        font-size: 0.825rem;
        padding-bottom:15px;
    }
    .form-control {
        border: 1px solid #cfd1d8;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        font-size: .825rem;
        background: #ffffff;
        color: #2e323c;
    }

    .card {
        background: #ffffff;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border: 0;
        margin-bottom: 1rem;
    }

    .div_cat{
        float:right;
        vertical-align: top;
    }
    .cat{
    display: block;
    }
    .selected_all{
        color:green;
    }
    .selected{
        color:red;
    }
    .categories{
        float:right;
        margin-right:10%;
        font-size:30px;
    }

    .srch_error{
        margin-left:25%;
        width:700px;
        justify-content: center !important;
        align-items: center !important;
        display:flex !important;
    }

    .style-form{
        width:50%;
        height:100%;

    }
    .form-name{
        font-size:30px;
        font-weight:bold;
        width:50%;
        height:30px;
    }

    .form-slug{
        height:20px;
        width:30%;
    }
    .form-text{
        width:50%;
        height:300px;
    }

    .question_author{
        margin-left:10px;
    }
    .list_categories{
        margin-right:-30px;
        list-style-type: none;
        margin-left:10%;
        line-height: 1.7;
        text-decoration:underline;

    }
    .edit_text{
        color:black;
        text-decoration:none;
    }

    .square{
        background-color:#E4E4E4;
        padding:5px 10px 5px;

    }
    .user_name_answer{
        font_weight:bold;
        margin-bottom:-10px;
        font-size:20px;
        position:relative;
        margin-left:60px;


    }
    .answer_text{
        font-size:20px;

    }
    pre{
        background-color:#E7F7F9 ;
        font-size:16px;
    }

    /* login */

    .user_card {
			width: 350px;
			margin-top: auto;
			margin-bottom: auto;
			background: #74cfbf;
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;

		}

		.form_container {
			margin-top: 20px;
		}

		#form-title{
			color: #fff;

		}

        .author_photo{
            position:relative;
        }

		.login_btn {
			width: 100%;
			background: #33ccff !important;
			color: white !important;
		}
		.login_btn:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.login_container {
			padding: 0 2rem;
		}
		.input-group-text {
			background: #f7ba5b !important;
			color: white !important;
			border: 0 !important;
			border-radius: 0.25rem 0 0 0.25rem !important;
		}
		.input_user,
		.input_pass:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		/* comments*/
            @media (min-width: 0) {
        .g-mr-15 {
            margin-right: 1.07143rem !important;
        }
        }
        @media (min-width: 0){
        .g-mt-3 {
            margin-top: 0.21429rem !important;
        }
        }
        .doesnt_active{
            background-color:grey;
        }
        .active{
            background-color:green;
        }
        .g-height-50 {
        height: 50px;
        }

        .g-width-50 {
        width: 50px !important;
        }

        @media (min-width: 0){
        .g-pa-30 {
            padding: 1.14286rem !important;
        }
        }

        .g-bg-secondary {
        background-color: #EDF1F1   !important;
        }



        .u-shadow-v18 {
        box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.15);
        }

        .g-color-gray-dark-v4 {
        color: #777 !important;
        }

        .g-font-size-12 {
        font-size: 0.85714rem !important;
        }

        .media-comment {
        margin-top:20px
        }
}
@media only screen and (max-width:500px) and (max-height:900px){
    .html, body {
        font-family: 'Arial';
        margin: 0;
        padding: 0;
        height: 1000px;
        width: 100%;
        color: #444;
    }
    .srch {
    width: 200px;
    height: 30px;
    margin-bottom:10px;
    }

    .categories {
    float: right;
    margin-right: 10%;
    font-size: 18px;
    margin-right:300px;
    }
    .left-chapters ul {
    width: 80px;
    min-height: 100%;
    margin: 0;
    padding: 10px 15px 10px 20px;
    list-style: none;
    font-size: 18px;
    }
    .main_cards {

    border-radius: 25px;
    background: #D8DCE1;
    margin-top: 10px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center float:left !important;
    flex-direction: column;
    height:50px;
    }
    .q_name {
    font-family: 'Oswald', sans-serif !important;
    margin-top:100px ;
    }



    /*регистрация*/
    .container {
    padding: 16px;
    background-color: white;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}

/* Add a blue text color to links */
a {
    color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
    background-color: #f1f1f1;
    text-align: center;
}
}


