{% extends 'blog/base.html' %}

{% block content %}

<td valign="top" class="content">

    {% if user.is_authenticated %}
<!--    форма для добавления вопроса(поста) на страницу-->

<form action="" method="post" enctype="multipart/form-data" >
    {% csrf_token %}

    {{form.media}}

    <p class="field_label">{{form.q_name.label}}</p>
    <div class="forms-errors">{{ form.q_name.errors }}</div>
    <div class="field_desc">Сформулируйте вопрос так, чтобы сразу было понятно, о чём речь.</div>

    <div class="field_input">{{form.q_name}}</div>

    <p class="field_label" >{{form.tags.label}}</p><div class="field_desc">Укажите теги — предметных областей, к которым вопрос относится.</div><div class="field_input">{{form.tags}}
    <p class="field_label" >{{form.q_text.label}}</p><div class="field_desc">Опишите в подробностях свой вопрос, чтобы получить более точный ответ.</div><div id='field_select' class="field_input">{{form.q_text}}</div>
    <p class="field_label" >{{form.difficult.label}}</p><div class="field_input">{{form.difficult}}</div><br>
    {% if update_button %}
    <p><input type="submit" value="Обновить вопрос"></p>
    {% else%}
    <p><input type="submit" id="submit-button" name='submit-button' value="Отправить"></p>
    {% endif%}
</div>
</form>

<script>hljs.initHighlightingOnLoad();</script>
<!--    далее скрипт ckeditor-->

    {% else%}
    <h1>Зайдите на сайт</h1>
    {% endif %}

</td>
{% endblock %}
