{% extends 'blog/base.html' %}

{% block content %}

<td valign="top" class="content">
    {% if messages%}
    <div>
    {% for m in messages %}
    {{m}}
    {% endfor%}
    </div>
{% endif%}
    {% if user.is_authenticated %}
<!--    форма для добавления вопроса(поста) на страницу-->
<form action="" method="post" enctype="multipart/form-data" >
{% for f in form %}
    <div class="form-error">{{ f.non_field_errors }}</div>

    <p><label for="{{ f.id_form_label }}" >{{f.label}}: </label><p>{{ f }}</p>

<div class="form-error">{{ f.errors }}</div>
{% endfor %}



<!--<form enctype="multipart/form-data" method="post">-->
<!--   <p><input type="file" name="f">-->
<!--   <input type="submit" value="Отправить"></p>-->
<!--  </form>-->

<div id="test">
<!--<button  type="button" onclick="insert()">Вставить фото</button>-->
<button  type="button" onclick="insert(' <pre><code>Тут код</code></pre> ')">Вставить код</button>
<!--<button  type="button" onclick="insert(' <h1></h1> ')">Вставить заголовок</button>-->
</div>
<script>
    function insert (word) {
  let inp = document.querySelector('#text_test');
  let start = inp.selectionStart;
  inp.value = inp.value.substring(0, start) + word +
    inp.value.substring(inp.selectionEnd, inp.value.length)
    inp.focus();
    inp.setSelectionRange(start, start + word.length)
}

</script>


<!--<button  type="button" onclick="insert(' aloha ')">insert aloha</button>-->
<!--<input value='test'>-->

<!--<input  type="button" onclick="document.getElementById('text_test').innerHTML += html_to_insert;"-->
<!-- value = "Добавить код" />-->


    {% csrf_token %}
    {% if update_button %}
    <p><input type="submit" value="Обновить вопрос"></p>
    {% else%}
    <p><input type="submit" value="Задать вопрос"></p>
    {% endif%}

</form>
    {% else%}
    <h1>Зайдите на сайт</h1>
    {% endif %}
</td>
{% endblock %}
