{% extends 'blog/base.html' %}


{% block content %}

<!-- Конец Sidebar'а -->
<td valign="top" class="content">
	<!-- Хлебные крошки -->

	<div class="topnav">
	 <form  action="{% url 'home' %}">
		 {% if posts %}
				<input class="srch" type="text" name="search" placeholder="Поиск..">
		 {% else %}
		 	<input class="srch2" type="text" name="search" placeholder="Поиск..">
		 		<h1>По вашему запросу ничего не найдено</h1>
		 {% endif %}
			</form>
    </div>


	<button><a class="add_question" href="{% url 'add_q' %}">Добавить вопрос</a></button>



{% for i in posts %}
<div class="main_cards">
{% for tag in i.tags.all %}
        <a href="{% url 'taggit' tag.slug %}">
            {{ tag.name }}
        </a>
        {% if not forloop.last %}, {% endif %}
    {% endfor %}
<h1><a  href="{{i.get_absolute_url}}" class="q_name">{{i.q_name}}</a></h1>
<h4 class="question_author">Автор вопроса: {{i.author}}</h4>
</div>
{% endfor %}



<div class="categories">
	<div class="dropdown-menu" aria-labelledby="dropdownMenu2">
  {% for notification in  user.notifications.unread %}
	  <div>
	    Message from <b>{{ notification.actor }}</b>
	    <button class="dropdown-item" type="button">{{ notification.description }}</button>
		</div>
		<div class="dropdown-divider"></div>
	{% endfor %}
</div>
</div>
{%if page_obj.has_other_pages%}
<nav class="list-pages">
	<ul>
		{%for p in page_obj.paginator.page_range%}
		{% if page_obj.number == p %}
        <li class="page-num page-num-selected">{{ p }}</li>
		{% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2  %}
        <li class="page-num">
            <a href="?page={{ p }}">{{ p }}</a>
        </li>
		{% endif %}
		{%endfor%}
	</ul>
</nav>
	{%endif%}

</td>


{% endblock %}