{% extends 'blog/base.html' %}
{% block content %}

<td valign="top" class="content">


<!--    Так выглядит вопрос(запись)-->
    <div class="square">
        <h3>{{more_q.author}}</h3>
        <h5 class="category">Категория: {{more_q.q_cat}}</h5>
        <h1 class="q_name">{{more_q.q_name}}</h1>
<!--        {% autoescape off %}-->
        <p class="q_text">{{more_q.q_text}}</p>
<!--        {% endautoescape %}-->
    </div>


    {% if request.user == more_q.author %}
    <button class="edit_btn"><a class="edit_text" href="{% url 'edit' more_q.slug %}">Редактировать</a></button>

    <form method="post" action="{% url 'delete' more_q.slug %}">{% csrf_token %}
<!--    <p>Are you sure you want to delete "{{ object }}"?</p>-->
    {{ delete_form }}
    <input type="submit" value="Удалить">
    </form>
    {% else %}

    {% endif%}

    <form method="post" action="{% url 'send_msg' more_q.slug%}">{% csrf_token %}
    {{ telegram_form }}

    <input type="submit" value="Отпрвавить жалобу">
    </form>

<hr>

<!--Подсчет кол-ва ответов на вопрос-->
    <h4>
        Ответы - {{more_q.comments.count}}
    </h4>
<!--  форма для заполнения ответов -->

    {% if new_message %}
    <h3>Ваш ответ был добавлен</h3>
    {% endif %}

    <h2>Добавьте ваш ответ</h2>
    {% if user.is_authenticated%}
    <form action="." method="post">
        {{ form.as_p }}
        {% csrf_token %}


<div id="text_test">

<button  type="button" onclick="insert(' <pre><code>Тут код</code></pre> ')">Вставить код</button>

</div>

<script>
    function insert (word) {
  let inp = document.querySelector('#test');
  let start = inp.selectionStart;
  inp.value = inp.value.substring(0, start) + word +
    inp.value.substring(inp.selectionEnd, inp.value.length)
    inp.focus();
    inp.setSelectionRange(start, start + word.length)
}

</script>
        <p><input type="submit" value="Добавить ответ"></p>
    </form>
    {% else %}
    <h2>Зарегистрируйтесь, чтобы оставить комментарий </h2>

{% endif %}
    <hr>

{% for i in more_q.comments.all%}
    <p class="user_name_answer">{{i.author}}</p>
    <div class="answer">
        <p class="answer_text">
<!--        {% autoescape off %}-->
            {{ i.text }}
            <!--        {% endautoescape %}-->
        </p>
        {{ i.created|date:"d.m.Y" }}
    </div>
    <form method="post" action="{% url 'ans_delete' more_q.slug %}">{% csrf_token %}
    <p>Are you sure you want to delete "{{ object }}"?</p>
    {{ ans_delete_form }}
    <input type="submit" value="Удалить">
    </form>
    <hr>

{%endfor%}

<!--Отображаение всех ответов-->


<!--    {% for ans in answer %}-->
<!--    <p class="user_name_answer">{{user.username}}</p>-->
<!--    <div class="answer">-->
<!--        <p class="answer_text">-->
<!--        {{ ans.text }}-->
<!--        </p>-->
<!--        {{ ans.created|date:"d.m.Y" }}-->
<!--    </div>-->
<hr>
    {% empty %}
        <p>Будьте первым, написавшим ответ!</p>
    {% endfor %}



</td>

{% endblock %}