{% extends 'blog/base.html' %}
{% block content %}
{%load static %}
<td valign="top" class="content">


<!--    Так выглядит вопрос(запись)-->
    <div class="square">
        <h3>{{more_q.author}}</h3>
        <h5 class="category">Категория: {{more_q.q_cat}}</h5>
        <h1 class="q_name">{{more_q.q_name}}</h1>
<!--        {% autoescape off %}-->
        <p class="q_text">{{more_q.q_text}}</p>
<!--        {% endautoescape %}-->
    </div>


    {% if request.user == more_q.author %}
    <button class="edit_btn"><a class="edit_text" href="{% url 'edit' more_q.pk %}">Редактировать</a></button>

    <form method="post" action="{% url 'delete' more_q.pk %}">{% csrf_token %}
<!--    <p>Are you sure you want to delete "{{ object }}"?</p>-->
    {{ delete_form }}
    <input type="submit" value="Удалить">
    </form>
    {% else %}

    {% endif%}

    <form method="post" action="{% url 'send_msg' more_q.pk%}">{% csrf_token %}
    {{ telegram_form }}

    <input type="submit" value="Отпрвавить жалобу">
    </form>

<hr>

<!--Подсчет кол-ва ответов на вопрос-->
    <h4>
        Ответы - {{more_q.comments.count}}
    </h4>
<!--  форма для заполнения ответов -->

    {% if new_message %}
    <h3>Ваш ответ был добавлен</h3>
    {% endif %}

    <h2>Добавьте ваш ответ</h2>
    {% if user.is_authenticated%}
    <form action="." method="post" id="formReview">
        {% csrf_token %}
        <input type="hidden" name="parent" id="contactparent" value="">
        <p><textarea id='contactcomment' rows="5" cols="45" name="text"></textarea></p>
         <p><input type="submit" value="Добавить ответ"></p>
    </form>

<div id="text_test">

<button  type="button" onclick="insert(' <pre><code>Тут код</code></pre> ')">Вставить код</button>

</div>

<script>
    function insert (word) {
  let inp = document.querySelector('#contactcomment');
  let start = inp.selectionStart;
  inp.value = inp.value.substring(0, start) + word +
    inp.value.substring(inp.selectionEnd, inp.value.length)
    inp.focus();
    inp.setSelectionRange(start, start + word.length)
}

</script>

    {% else %}
    <h2>Зарегистрируйтесь, чтобы оставить комментарий </h2>

{% endif %}
    <hr>

{% for i in more_q.comments.all%}


    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<div class="container">
<div class="row">
    <div class="col-md-8">
        <div class="media g-mb-30 media-comment">
            {% if user.photo %}
            <img class="d-flex g-width-50 g-height-50 rounded-circle g-mt-3 g-mr-15" src="{{i.author.photo.url}}" alt="Image Description">
            {%else%}
            <img class="d-flex g-width-50 g-height-50 rounded-circle g-mt-3 g-mr-15" src="{% static 'blog/img/regular_user.jpg'%}" alt="Image Description">
            {%endif%}
            <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30">
              <div class="g-mb-15">
                <h5 class="h5 g-color-gray-dark-v1 mb-0"><a href="{% url 'show_other_profiles' i.author.id  %}">{{i.author}}</a></h5>
                <span class="g-color-gray-dark-v4 g-font-size-12">{{ i.created|date:"d.m.Y" }}</span>
              </div>

              <p>{{ i.text }}</p>

                <li class="list-inline-item ml-auto">
                  <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#formReview"   onclick="addReview('{{i.author}}', '{{i.id}}')">
                    <i class='fa fa-reply g-pos-rel g-top-1 g-mr-3'></i>
                    Reply
                  </a>
                </li>
              </ul>
            </div>
        </div>
    </div>



    <hr>

{%endfor%}

<!--Отображаение всех ответов-->


<!--    {% for ans in answer %}-->
<!--    <p class="user_name_answer">{{user.username}}</p>-->
<!--    <div class="answer">-->
<!--        <p class="answer_text">-->
<!--        {{ ans.text }}-->
<!--        </p>-->
<!--        {{ ans.created|date:"d.m.Y" }}-->
<!--    </div>-->
<hr>
    {% empty %}
        <p>Будьте первым, написавшим ответ!</p>
    {% endfor %}

</div>
</div>
</td>
<script>
function addReview(name, id){
    document.getElementById('contactparent').value = id;
    document.getElementById('contactcomment').innerText = '${name}, '

}
</script>
{% endblock %}